i {
    color: #ED6434 ;
  }
 
 .carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(108%);
  }

  i:hover {
    color: #263067;
  }
.whatsapp {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 10;
    width: 55px;
  }

  @media (min-width: 600px) {
    .con {
      max-width: 480px;
      box-shadow: 0px 0px 20px 0px rgba(20, 20, 20, 0.3);
    }
    .whatsapp {
      position: fixed;
      right: 789px;
      bottom: 5px;
      z-index: 10;
      width: 55px;
    }
    body {
      background: url("/assets/FONDO.jpg");
      background-size: cover;
      width: 50%;
      
    }
  }
.transparent-navbar {
  background-color: transparent !important;
  box-shadow: none;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
   box-shadow: 5px 10px 18px;
}


.navbar-nav .nav-link {
  color: #263067;
  font-weight: 500;

}
.navbar-collapse {
  padding: 10px 15px; /* 👈 agrega esto para separar del borde */
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}