i {
    color: #ED6434 ;
  }
 
 .carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(108%);
  }

  i:hover {
    color: #263067;
  }
.whatsapp {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 10;
    width: 55px;
  }

  @media (min-width: 600px) {
    .con {
      max-width: 480px;
      box-shadow: 0px 0px 20px 0px rgba(20, 20, 20, 0.3);
    }
    .whatsapp {
      position: fixed;
      right: 789px;
      bottom: 5px;
      z-index: 10;
      width: 55px;
    }
    body {
      background: url("/assets/FONDO.jpg");
      background-size: cover;
      width: 50%;
      
    }
  }
.transparent-navbar {
  background-color: transparent !important;
  box-shadow: none;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
   box-shadow: 5px 5px 11px;
}


.navbar-nav .nav-link {
  color: #263067;
  font-weight: 500;

}
.navbar-collapse {
  padding: 0px 11px; 
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* ===== Bot贸n Flotante de WhatsApp ===== */
.whatsapp-flotante {
  position: fixed;
  width: auto;
  height: auto;
  bottom: 25px;
  right: 25px;
  background-color: #25d366; /* Color verde de WhatsApp */
  color: #fff;
  border-radius: 50px;
  padding: 12px 22px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el 铆cono y el texto */
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}
.whatsapp-flotante:hover {
  transform: scale(1.05); /* Agranda un poco el bot贸n al pasar el mouse */
}

.whatsapp-icono {
  width: 24px;
  height: 24px;
  fill: white; /* Pinta el 铆cono SVG de blanco */
}

/* ===== Animaci贸n para el emoji de la mano  ===== */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* Mueve la mano hacia arriba */
  20% {
    transform: rotate(-8deg);
  } /* Mueve la mano hacia abajo */
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Vuelve a la posici贸n original */
  100% {
    transform: rotate(0deg);
  }
}

.whatsapp-flotante span {
  display: flex; /* Para poder alinear el texto y el emoji */
  align-items: center;
  gap: 5px; /* Espacio entre 隆Hola! y el emoji */
}

/* Aplica la animaci贸n al emoji dentro del bot贸n */
.whatsapp-flotante span .emoji-wave {
  display: inline-block; /* Necesario para que la transformaci贸n funcione */
  animation: wave-animation 2.5s infinite; /* Aplica la animaci贸n, dura 2.5s y se repite infinitamente */
  transform-origin: 70% 70%; /* El punto desde donde rota el emoji */
}
